@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --white: #fff;
    --ṕink: #ff52bf;
    --light-pink: #ff8fd8;
    --light-red: #ff4242;
    --very-dark-cyan: #00252e;
    --very-pale-blue: #f5faff;
    --poppins: "Poppins", sans-serif;
    --open-sans: "Open Sans", sans-serif;

    --center: center;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: var(--center);
    align-items: var(--center);
}

.title{
    color: var(--very-dark-cyan);
    font-family: var(--poppins);
    font-size: 1.8rem;
    font-weight: 700;
}

a,
.paragraph{
    color: var(--very-dark-cyan);
    font-family: var(--open-sans);
    font-weight: 500;
    display: block;
}

.wave{
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100px;
    left: 0;
    top: 0;
    background-image: var(--wave);
}

.wave--grow{
    --wave: url(/huddle-landing-page/images/bg-section-top-mobile-1.svg);
}

.wave--flowing{
    --wave: url(/huddle-landing-page/images/bg-section-bottom-mobile-1.svg);
}

.wave--users{
    --wave: url(/huddle-landing-page/images/bg-section-top-mobile-2.svg);

}

.wave--cta{
    --wave: url(/huddle-landing-page/images/bg-section-bottom-mobile-2.svg);
}

.wave--footer{
    --wave: url(/huddle-landing-page/images/bg-footer-top-mobile.svg)
}

.hero{
    width: 90%;
    margin: 1.25rem auto 0;
}

.hero__header{
    padding: 0 .75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__header__logo{
    width: 40%;
}

.hero__header__logo img{
    max-width: 100%;
}

.hero__header a{
    padding: .375rem 1.625rem;
    border: .125rem solid var(--light-pink);
    border-radius: 1rem;
    font-size: 12px;
    text-decoration: none;
    color: var(--light-pink);
}

.hero__header a:hover{
    color: var(--white);
    background-color: var(--light-pink);
}

.hero__texts{
    margin: 3.75rem auto 0;
    width: 95%;
    font-size: 16px;
    text-align: var(--center);
}

.hero__texts__paragraph{
    margin: 1.875rem 0 3.125rem;
}

.hero__texts a,
.section__cta a{
    padding: .75rem 2.1rem;
    text-decoration: none;
    background-color: var(--ṕink);
    color: var(--white);
    border-radius: 1.875rem;
    
    display: inline-block;
    box-shadow: 0 0 5px #00000066;
    transition: .4s ease-in;
}

.hero__texts a:hover,
.section__cta a:hover{
    color: var(--light-pink);
    border: 2px solid var(--light-pink);
    background-color: #ffffff00;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}

.hero__picture{
    margin: 3.75rem auto 5rem;
    width: 90%;
}

.hero__picture img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.hero__numbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__numbers__containers{
    margin-bottom: 2.5rem;
    font-size: 16px;
    font-family: var(--open-sans);
}

.hero__numbers__picture{
    position: relative;
    width: 30%;
}

.hero__numbers__picture img{
    width: 100%;
    display: inline-block;
}

.hero__numbers__number,
.hero__numbers__texts{
    margin: 0;
}

.hero__numbers__number{
    font-size: 4em;
    font-weight: 700;
    width: 10.625rem;
}

.grow__together,
.flowing,
.your-users,
.section__cta{
    width: 100%;
}

.section__container,
.section__cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section__img, 
.section__texts{
    width: 80%;
    text-align: center;
}

.section__texts{
    font-size: 16px;
    color: var(--very-dark-cyan);
    padding-bottom: 1.875rem;
}

.section__title{
    font-family: var(--poppins);
    font-size: 1.5rem;
    font-weight: 800;
}

.section__paragraph{
    font-family: var(--open-sans);
    margin-bottom: 1.875rem;
}

.grow__together{
    background-color: var(--very-pale-blue);
}

.grow__together img,
.flowing img,
.your-users img{
    width: 100%;
    display: block;
    padding-top: 2.5rem;
}

.flowing{
    background-color: var(--white);
}

.your-users{
    background-color: var(--very-pale-blue);    
}

.section__cta{
    margin: 3.125rem 0 6.25rem;
}

.section__cta .section__texts{
    padding-top: 0rem 0 1.25rem;
}

/* FOOTER */

.footer{
    background-color: var(--very-dark-cyan);
    width: 100%;
}

.footer__container{
    width: 85%;
    margin: 0 auto;
    color: var(--very-pale-blue);
}

.footer__title,
.footer__paragraph{
    font-family: var(--open-sans);
}

.footer__title{
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.footer__paragraph{
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.5625rem;
    margin: 1.25rem 0 1.875rem;
}

.footer__input{
    width: 100%;
    height: 2.5rem;
    border-radius: 6px;
    padding: 0;
    border: 0;
}

form{
    display: flex;
    flex-direction: column;
}

.footer__button{
    padding: .75rem 1.625rem;
    border: 1px solid var(--ṕink);
    margin: .625rem 0 3.75rem;
    color: var(--white);
    background-color: var(--ṕink);
    font-size: .9375rem;
    font-weight: 700;
    border-radius: 6px;

    align-self: flex-end;
    cursor: pointer;
}

.footer__info img{
    width: 100%;
}

.footer__contact__info{
    margin: 0 auto;
    display: flex;
    color: var(--very-pale-blue);
    font-family: var(--open-sans);
    font-weight: 600;
    align-items: center;
}

.footer__picture{
    width: 50%;
}

.footer__contact__info p{
    display: inline-block;
    padding-left: .375rem;
    margin: .625rem;
}

.footer__medias{
    margin-bottom: 1.875rem;
}

.footer__medias__container{
    display: flex;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 1.25rem;
}
.footer__medias__container img,
.footer__medias__container img:hover{
    transition: .3s ease-in-out;
}

.footer__medias__container img:hover{
    transform: scale(1.2);
}

.footer__medias a{
    width: 30px;
}

.footer__medias img{
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .wave--grow{
        --wave: url(/huddle-landing-page/images/bg-section-top-desktop-1.svg);
    }
    
    .wave--flowing{
        --wave: url(/huddle-landing-page/images/bg-section-bottom-desktop-1.svg);
    }
    
    .wave--users{
        --wave: url(/huddle-landing-page/images/bg-section-top-desktop-2.svg);
    
    }
    
    .wave--cta{
        --wave: url(/huddle-landing-page/images/bg-section-bottom-desktop-2.svg);
    }
    
    .wave--footer{
        --wave: url(/huddle-landing-page/images/bg-footer-top-desktop.svg)
    }

    .hero__numbers{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    section .section__texts{
        text-align: left;
    }

    .hero__texts__paragraph{
        width: 50%;
        margin: 3em auto;
    }
    .section__container, 
    .footer__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 30px auto;
        width: 80%;
        gap: 50px;
    }

    .grow__together .section__img,
    .your-users .section__img{
        order: 1;
    }

    .footer__texts{
        order: 1;
    }

    .footer__info{
        display: flex;
        flex-direction: column;
    }

    .footer__info,
    .footer__texts{
        padding: 50px;
    }

    .footer__input{
        display: inline;
        width: 100%;
    }

    .footer__input{
        display: inline;
    }
}
